.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  min-height: 200px;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  min-height: 200px;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.react-datepicker {
  padding-bottom: 20px;
}

.react-tel-input .form-control {
  height: 1.4875em;
  width: 100%;
  font: inherit;
  color: currentColor;
}

.react-tel-input .special-label {
  font-size: 0.75em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: rgba(105, 105, 105, 0.6);
  font-weight: 400;
}
